:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-navy: rgb(39, 68, 93);
  --color-teal: rgb(113, 187, 178);
  --color-green: rgb(73, 125, 116);
  --color-beige: rgb(239, 233, 213);


  --font-lato: 'Lato', sans-serif;
  --font-sigmar: 'Sigmar', sans-serif;
}