@use "/src/assets/styles/functions" as *;
@use "/src/assets/styles/media" as *;

.page {
  background: var(--color-beige-light);

  .header {
    display: flex;
    max-width: rem(1312);
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 1.5rem 0;

    .header_logo {
      font-family: var(--font-sigmar);
      font-size: 2rem;
    }

    .github_link {
      font-size: 1.5rem;
    }
  }

  .inputs_section {

  }

  .cv_section {

  }

  .footer {

  }

}