:root {
  --color-white: #FFFFFF;
  --color-gray-extra-light: #E5E5E5;
  --color-gray-light: #C2C2C2;
  --color-gray-mid: #878787;
  --color-black: #000000;

  --color-beige-light: #F8F3D9;
  --color-beige-mid: #EBE5C2;
  --color-haki: #B9B28A;
  --color-dark: #504B38;

  --color-blue: #233A5F;
}